{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>about me</title>
{% endblock title %}
    



{% block content %}

<h1>About Me and Why I got into Coding</h1>
<br>
    <div class="row">
        <div class="col-sm-8">
            <p>My name is Adam Tucker and I am an aspiring Django Back-end Devoloper. Last November 2019, I realised that I needed a change from
        what I have been doing for the past 8 years and set about finding a new direction. I thought back through my career and
        realised that some of the things I have been most proud and enjoyed the greatest were creating sense of large data sets to
        affect change in my category or creating timesaving macros and formulas which turned long monotonous jobs into quick
        efficient tasks.<br>
        
        I started researching into where I could do this sort of work and quickly realised that by learning to code would
        open huge numbers of doors where I could do the work I have enjoyed doing over the past years.</p>
        </div>
        
        <div class="col-sm-4">
            <center><img src="{% static 'images/Me.jpg' %}" class='rounded'></center>
        </div>
        
    </div>

<br>
    <div class="row">
        <div class="col-sm-4">
            <center><img src="{% static 'images/code image.jpg' %}"class='rounded'></center>
        </div>
    
        <div class="col-sm-8">
            <p>I then looked into which part of coding I wanted to get into and Back-end devolpment jumped out at me as
            being the best fit. It would allow me to target parts of work I had identified as a career.
            <br>
            I seriously considered joining a coding Bootcamp but after some more research I found that all the
            information is available for free or at a minimal cost online and that as long as I stayed dedicated and committed to
            learning I would be able to learn in my own time and with no outlay. So, I decided on becoming self-taught.</p>

        </div>
    </div>
<br>
    <div class="row">
        <div class="col-sm-8">
            <p><br>I chose Python as the stack on which I wanted to focus. Firstly, Python is a good first language and the syntax
            resembled ones I had learnt previously through Excel.
            Secondly, Python had grown to become the most widely used language based on a report from Stack Overflow. I have
            tried as much as possible to only focus on learning Python and libraries which I felt would build on my existing skills.</p>
        </div>
    
        <div class="col-sm-4">
            <center><img src="{% static 'images/Python.png' %}"class='rounded'></center>
        </div>
    </div>
<br>
    <div class="row">
        <div class="col-sm-4">
            <center><img src="{% static 'images/graphs.jpg' %}"class='rounded'></center>
        </div>
    
        <div class="col-sm-8">
            <p>I have deployed this website to showcase the skills I have learnt during my journey so far. This wedsite has been built  
                using Django and Bootstrap used to help with the design.
            <br>
        </div>
    
    </div>

<br>
    <div class="row">
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-primary"onclick="window.open('https://drive.google.com/open?id=10SaWU7Gml1B_VmrMowUhHitP6RzFZVtS','_blank')">
                <b>Please click here to go to my google drive with my up to date CV</b>
            </button>
        </div>
    </div>
<br>
<br>
{% endblock content %}
    