{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>about me</title>
{% endblock title %}
    



{% block content %}

<h1>About Me and Why I got into Coding</h1>
<br>
    <div class="row">
        <div class="col-sm-8">
            <p>My name is Adam Tucker and I am an aspiring Python coder. In last November 2019 I realised that I needed a change from
        what I have been doing for the past 8 years and set about finding a new direction. I thought back through my career and
        realised that some of the things I have been most proud and enjoyed the most were creating sense of large data sets to
        affect change in my category or creating timesaving macros and formulas which turned long monotonous tasks into quick
        efficient tasks.<br>
        
        I started researching into where I could do this sort of work and quickly realised that but learning to code it would
        open huge numbers of doors where I could do the work I have enjoyed doing over the past years.</p>
        </div>
        
        <div class="col-sm-4">
            <center><img src="{% static 'images/Me.jpg' %}" ></center>
        </div>
        
    </div>

<br>
    <div class="row">
        <div class="col-sm-4">
            <center><img src="{% static 'images/code image.jpg' %}"></center>
        </div>
    
        <div class="col-sm-8">
            <p>I then looked into which part of coding I wanted to get into and Backend Software and Data Science jumped out at me as
            being the best fit as it would allow me to target parts of work I had identified as a career.
            <br>
            I seriously considered joining a coding Bootcamp but after some more research I found that all the
            information is available for free or at a minimal cost online and that as long as I stayed dedicated and committed to
            learning I would be able to learn in my own time and with no out lay. So, I settled on becoming self-taught.</p>

        </div>
    </div>
<br>
    <div class="row">
        <div class="col-sm-8">
            <p><br>I choose Python as the stack I wanted to focus on first. I choice Python for a couple of reasons firstly Python is known
            as a reasonably good first language and when I looked at the syntax and noticed that many were the same as ones I had
            learned in Excel. Secondly Python had grown to become the most widely used based on a report from Stack Overflow. I have
            tried as much as possible to only focus on learning Python and libraries which I felt would build on my skills as much
            as possible.</p>
        </div>
    
        <div class="col-sm-4">
            <center><img src="{% static 'images/Python.png' %}"></center>
        </div>
    </div>
<br>
    <div class="row">
        <div class="col-sm-4">
            <center><img src="{% static 'images/graphs.jpg' %}"></center>
        </div>
    
        <div class="col-sm-8">
            <p>I have pulled together this website to show off the skills I have learnt during my journey so far. I have built this
            website using Django and have used Bootstrap to help with the design. I have added a section on Data Science and Machine
            Learning. In this section I will use Numpy and Pandas explore the data and use the data visualization tools in
            MatPlotLib and Seaborn to display it.
            <br>
            Finally I will use Cufflinks and Plotly to display market information on a map of the world.</p>
        </div>
    
    </div>

<br>
    <div class="row">
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-primary"onclick="window.open('https://drive.google.com/file/d/1ZYpvfN4SqYQnbciiXuWuWtSV5b4542Wf/view?usp=sharing','_blank')">
                <b>Please click here to go to my google drive with my up to date CV</b>
            </button>
        </div>
    </div>
<br>
<br>
{% endblock content %}
    