{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Data Science and Machine Learning</title>
{% endblock title %}





{% block content %}

<h2>Welcome to the Data Science and Machine learning Section</h2>

<br>
    <div class="row">
        <div class="col-sm-8">
            <p>In this section I will demonstrate a number of different datasets I have worked through.
            In each case I will start by checking the data to ensure there are no gaps within the dataset. 
            Then I will move on to Data Visualization and finally I will train a model to make predictions using 
            an appropriate machine learning algorithm. For each section, I will link to my notebook on Kaggle.com  
            </p>
        </div>
        
        <div class="col-sm-4">
            <center><img src="{% static 'images/kaggle2.png' %}" class='rounded'></center>
        </div>
        
    </div>

<br>
    <div class="row">
        <div class="col-sm-4">
            <center><img src="{% static 'images/airplane.jpg' %}"class='rounded'></center>
        </div>
    
        <div class="col-sm-8">
            <p><strong>January Flight Delay Prediction - Logistic Regression</strong><br>
            The challenge - Using data on flight delays in Jan 2019. Can a model be trained to predict whether a flight
            will be delayed by more than 15mins in Jan 2020?<br>
            <strong>Conclusion</strong> - I was able to get the model to predict ~75% of delays in 2020 from the
            2019 data.<br>
            <br>
            <strong>Link to Note Book - <a href="https://www.kaggle.com/blindrabit/kernel33177e9359"target="_blank">Kaggle Note Book</a></strong>
            </p>

        </div>
    </div>

<br>
    <div class="row">
        <div class="col-sm-8">
            <p><strong>eCommerce Customers - Linear Regression</strong><br>
                The challenge - With the data provided advise the company where to focus their development resource either on the app or website<br>
                <strong>Conclusion</strong> - 
                Focus on the app as this is currently driving sales with a 38.59 increase in spend per single unit
                increase compared to the website only generating 0.19.<br>
                This said it will not be as clear cut as this. Given the website seems to be performing well below the app,
                it could have an inherent issue which is driving consumers to the app as a route to purchase. This will cause
                a loss on conversion which needs to be investigated further to understand why and improve the customer experience on
                the website.
                <br>
                <br>
                <strong>Link to Note Book - <a href="https://www.kaggle.com/blindrabit/kernel3ea3314b2c" target="_blank">Kaggle Note Book</a></strong>
            </p>
        </div>

        <div class="col-sm-4">
            <center><img src="{% static 'images/till.jpg' %}" class='rounded'></center>

        </div>
    </div>

<br>
    <div class="row">
        <div class="col-sm-4">
            <center><img src="{% static 'images/Neural.png' %}" class='rounded'></center>            
        </div>

        <div class="col-sm-8">
            <p><strong>Student Pass Rate - Tensor Flow/Neural Network Logistic Regression</strong><br>
                The Challenge - Predict whether a student will pass or fail a course given metrics on the student.<br>
                <strong>Conclusion</strong> - The model was able to predict a person was going to pass the course but performed
                much worse on predicting whether or not a person was going to fail the course. I believe this was because
                the data had a lot more people pass than fail and there are no accurate metrics to how a people will perform based on their background.
                <br>
                <br>
                <strong>Link to Note Book - <a href="https://www.kaggle.com/blindrabit/kernel522cded922" target="_blank">Kaggle Note
                        Book</a></strong>
            </p>          

        </div>
    </div>

{% endblock content %}
    